@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all duration-100 delay-100 ease-out;
  scrollbar-width: none;
}

body {
  @apply antialiased;
}

header {
  transition: all 500ms ease-in-out;
}

.full-screen-image {
  /* height: 100vh; */
  width: 100%;
  overflow: hidden;
  position: relative;
}

.full-screen-image img {
  height: 100%;
  width: 100%;
  /* object-fit: contain; */
  /* position: absolute; */
  z-index: 0;
}

.fade-out {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  /* border: 2px solid white; */
  background: linear-gradient(to bottom, transparent, #141414 100%);
  background-size: 100% 100%; /* 100% width, 50% height */
  z-index: 0;
}

#imageContainer {
  width: 200px;
  height: 111px;
  cursor: pointer;
}




 #exImage {
  width: 200px;
  height: 111px;
  will-change: width, height, z-index;
  z-index: 2;
  transition: all 0.3s ease;
  cursor: pointer;
}

#exImage:hover {
  width: 341px;
  height: 360px;
  z-index: 49;
  transition-delay: 500ms;
}

#imageContainer:hover #exImage {
  width: 341px;
  height: 360px;
  z-index: 49;
  transition-delay: 500ms;
}


#exImage:not(:hover) {
  width: 200px;
  height: 111px;
  z-index: 1;
  transition-delay: 0s;
}




#drop-down {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

#browse-drop:hover #drop-down {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}


#profile-dropdown {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

}

#profile-button:hover #profile-dropdown{
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);

}

#profile-dropdown-container {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
pointer-events: none;
}

#profile-button:hover #profile-dropdown-container{
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
pointer-events: auto;
}





#notifications-dropdown {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
pointer-events: none;
}

#notification-button:hover #notifications-dropdown{
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
pointer-events: auto;
}

#notifications-dropdown-container {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
pointer-events: none;
}

#notification-button:hover #notifications-dropdown-container{
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
pointer-events: auto;
}





/* 
#container {
  padding: 0 4%;
} */

#search-container {
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

#search-container.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}


